/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}

#calendar{
  width:300px;
  margin:20pt auto;
}

#calendar fieldset{
  padding:0;
}

#calendar table{
  width:100%;
  height: 100%;
  margin:0 auto;
  border-collapse: collapse;
}

#calendar td{
  padding:5px;
}

#calendar tr:nth-child(1){
  color:black;
  background-color: cyan;
}

#calendar tr:nth-child(2){
  color:gray;
  background-color: white;
}
